
*.cdb
*.hdb
*.rdb
*.xml
*.idb
*.kpt
*.db_info
*.qmsg
*.hif
*.ipinfo
*.hier_info
*.html
*.txt
*.ammdb
*.dat
*.bpm
*.logdb
*.ddb
*.sci
*.hsd
*.syn_hier_info
*.dfp
*.qpf
*.psm
*.qsf
*.qws
*.prw
*.vwf
*.vhd
*.dbs
quartus/2.20/simulation/qsim/work/_vmake
*.wlf
*.vt
*.do
*.sft
*.vo
*.bsf
*.xrf
quartus/2.20/simulation/qsim/transcript
quartus/2.20/simulation/qsim/work/_info
*.vcd
*.summary
*.sof
*.pin
*.jdi
*.rpt
*.done
*.smsg
*.rcfdb
*.dpi
*.hb_info
*.sig
~$am_digital_electronics.docx
quartus/2.20/simulation/qsim/work/_temp/vlogb63sh7
quartus/2.20/simulation/qsim/work/_temp/vlogr4eqx5
quartus/2.20/simulation/qsim/work/_temp/vlogs0x276
*.temp
quartus/2.8/incremental_db/README
quartus/2.8/simulation/qsim/transcript
quartus/2.8/simulation/qsim/work/_info
quartus/2.8/simulation/qsim/work/_vmake
quartus/2.26.4/simulation/qsim/transcript
quartus/2.26.4/simulation/qsim/work/_info
quartus/2.26.4/incremental_db/README
quartus/2.26.4/simulation/qsim/work/_vmake
*.tmp
quartus_archybald/3.1/incremental_db/README
quartus_archybald/3.1/simulation/qsim/transcript
quartus_archybald/3.1/simulation/qsim/work/_info
quartus_archybald/3.1/simulation/qsim/work/_vmake
quartus_archybald/3.11/incremental_db/README
quartus_archybald/3.11/simulation/qsim/transcript
quartus_archybald/3.11/simulation/qsim/work/_info
quartus_archybald/3.11/simulation/qsim/work/_vmake
quartus_archybald/3.16/incremental_db/README
quartus_archybald/3.16/simulation/qsim/transcript
quartus_archybald/3.16/simulation/qsim/work/_info
quartus_archybald/3.16/simulation/qsim/work/_vmake
*.tdb
quartus_archybald/3.6/incremental_db/README
quartus_archybald/3.6/simulation/qsim/transcript
quartus_archybald/3.6/simulation/qsim/work/_info
quartus_archybald/3.6/simulation/qsim/work/_vmake
